livro/AAPDIR

# Arquivos gerados pelo asciidoc
livro/*.chunked
livro/*.pdf
livro/*.png
livro/*.svg
livro/*.zip
livro/livro.xml
livro/slides.html
livro/livro.tex
livro/images/graphiz.eps
# TODO ignorar recursivamente *.asc~
# Alguém adicionou por engano, portanto pode acontecer novamente.
livro/*.asc~
livro/capitulos/*.asc~

/log.txt
releases

